.infos-product{
    border:  1px solid black;
    width: 400px;
    margin: 10%;
    margin-left: 50px;
}
.infos-product img{
    width: 300px;
    margin-top: 2%;
    margin-left: 25px;

}
.footer-page{
    border-top: 1px solid red;
    width: 100%;
}
.action{
    border: 1px;
    justify-content: space-between  ;
}